<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello. My name is <span class="highlight">Jigesh Mehta</span> and I am a masters student in computer science</h2>
      <%= link_to "View my work", root_path, class: "btn right" %>
    </div>
  </div>
</div>