<header>
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Projects", root_path %></li>
          <li><%= link_to "Work Experience", root_path %></li>
          <li><%= link_to "Resume", root_path %></li>
        </ul>
      </div>
      <div class="name col-xs-4">
        <h1>Jigesh Mehta</h1>
      </div>
    </div>
  </div>
</header>